In [1]:
import pandas as pd

In [2]:
counts_file = "/Users/cheyennebrouwer/Documents/23-24/Kwartaal_2/Data_Dashboards/Bioclear/wetransfer_ngs-data_2023-11-14_1231/NGS data/ASV_counts.txt"
df = pd.read_table(counts_file)
df.head()

,OTUID,S001P8292,S002P8292,S003P8292,S004P8292,S005P8292,S006P8292,S007P8292,S008P8292,S009P8292,...,S114P7795,S115P7795,S116P7795,S117P7795,S118P7795,S119P7795,S120P7795,S121P7795,S122P7795,S123P7795
0,Zotu6747,46,71,26,49,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,Zotu2247,1,2,2,2,2,3,4,7,27,...,14,1,11,1,4,0,1,1,10,3
2,Zotu22240,5,8,1,0,0,0,0,0,2,...,1,0,0,0,0,2,2,0,0,0
3,Zotu2303,175,133,121,131,0,17,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Zotu12508,6,14,44,37,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
## small test set
df = pd.read_table('ASV_counts_extra_small.tsv', delimiter='\t', index_col=0)
df

#select all but first
counts_columns = df.columns.difference(['OTUID'])
normalized_counts = df.copy()

for count_column in counts_columns:
    normalized_counts[count_column] = normalized_counts[count_column] / normalized_counts[count_column].sum() * 100

normalized_counts

           S001P8292  S002P8292  S003P8292  S004P8292
OTUID
Zotu6747   13.981763  21.913580  10.483871  18.560606
Zotu2247    0.303951   0.617284   0.806452   0.757576
Zotu22240   1.519757   2.469136   0.403226   0.000000
Zotu2303   53.191489  41.049383  48.790323  49.621212
Zotu12508   1.823708   4.320988  17.741935  14.015152
Zotu19977   2.127660   3.703704   1.612903   0.757576
Zotu30175   4.863222   3.395062   4.435484   4.166667
Zotu4618    3.647416   1.234568   1.612903   0.757576
Zotu9607    0.911854   1.851852   1.612903   1.893939
Zotu27764   4.559271   4.012346   1.209677   1.136364
Zotu39327   4.559271   0.308642   0.000000   0.000000
Zotu11302   8.510638  15.123457  11.290323   8.333333

In [4]:
zotu_ids = normalized_counts['S001P8292'].index

for id in zotu_ids:
    print(id)

Zotu6747
Zotu2247
Zotu22240
Zotu2303
Zotu12508
Zotu19977
Zotu30175
Zotu4618
Zotu9607
Zotu27764
Zotu39327
Zotu11302